{% extends "base_nav.html" %}

{% block title %}
    HOME PAGE
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css_folder/homepage.css" />
{% endblock %}

{% block content %}
    <div class="brand_boxes">
        <div class="brand_box">
            <h2>Ben & Jerry's</h2>
            <img class="bj" alt="An image of Ben and Jerry's icecream" src="../static/photos/0_bj.png">
            <br>
            <a class="a1" href="/feature=brand_search/input=bj">
                <button class="brand_products">See Products &#62;</button>
            </a>
        </div>
        <div class="brand_box">
            <h2>Häagen-Dazs</h2>
            <img class="hd" alt="An image of Häagen-Dazs icecream" src="../static/photos/0_hd.png">
            <br>
            <a class="a1" href="/feature=brand_search/input=hd">
                <button class="brand_products">See Products &#62;</button>
            </a>
        </div>
    </div>
    <div class="brand_boxes">
        <div class="brand_box">
            <h2>Talenti</h2>
            <img class="talenti" alt="An image of Talenti icecream" src="../static/photos/0_talenti.png">
            <br>
            <a class="a1" href="/feature=brand_search/input=talenti">
                <button class="brand_products">See Products &#62;</button>
            </a>
        </div>
        <div class="brand_box">
            <h2>Breyers</h2>
            <img class="breyers" alt="An image of Breyers icecream" src="../static/photos/0_breyers.png">
            <br>
            <a class="a1" href="/feature=brand_search/input=breyers">
                <button class="brand_products">See Products &#62;</button>
            </a>
        </div>
    </div>
{% endblock %}
