body {
    background-color: black;
}

.error {
    color: #82b9d5;
    font-size: 27vw;
    text-align: center;
    margin-top: 15%;
}

img {
    width: 15vw;
    height: 19vw;
    text-align: center;
    margin-left: -5%;
    margin-right: -5%;
}

.message {
    color: #82b9d5;
    font-size: 25px;
    margin-top: -30%;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: #82b9d5; 
}