<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ name }} </title>
        <link rel="stylesheet" type="text/css" href="../static/ice_cream.css" />
        <link rel="stylesheet" href="../static/fontawesome-free-6.1.1-web/css/all.css">
    </head>

    <body>
        <header>
            <a class="a1" href="/"> 
                <i class="fas fa-ice-cream"></i>
            </a>
        </header>

        <div class="layer">
            <div class="first_block">
                <img src="{{ image }}" alt="the image for this ice cream">
                <div class="text_block">
                    <h1>{{ ic.name }}</h1>
                    <p class="description">{{ ic.description }}</p>
                </div>
            </div>
            <br> <br> 
            <div class="text_block">
                <h2>Ingredients</h2>
                <p class="ingredients">{{ ic.ingredients }}</p>
            </div>
            <br> <br> 
            <div class="text_block">
                <h3>Rating&Review({{ ic.rating_count }})</h3>
                <br>
                <p class="overall_rating">
                    Overall:
                    {% for i in range(ic.avg_rating_int): %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% if ic.avg_rating_decimal >= 0.7 %}
                        <i class="fas fa-star"></i>
                    {% elif ic.avg_rating_decimal >= 0.3 %}
                        <i class="fas fa-star-half-alt"></i>
                    {% endif %}
                    {{ ic.avg_rating }}   
                </p>
                <div class="list">
                    {% for r in ic.reviews: %}
                        <div class="review">
                            <p class="date">Date: {{ r.date }}</p>
                            <p class="rating">Rating: {{ r.rating }}</p>
                            <p class="comment">{{ r.comment }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="btns">
                    <button class="btn" id="btn1">Show More...</button>
                    <button class="btn" id="btn2">Show Less...</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../static/load_more.js"></script>
    </body>
</html>