body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background-color: #FFB1B8;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0.3vw;
    padding-top: 1.5vw;
}

.a3 {
    text-decoration: none;
    color: white;
}

.a3:hover {
    color: rgb(219, 214, 214);
}

h1 {
    font-size: 30px;
}
  
.nav {
    background-color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav .item {
    background-color: white;
    display: inline-block;
    margin-right: -0.5vw;
    position: relative;
    padding: 2vw;
}

h3 {
    font-size: 18px;
    margin: 0;
}

.nav .item:nth-child(5) {
    margin-right: 0;
    float: right;
}

.nav .item:last-child {
    margin-right: 0;
    float: right;
}
  
.nav .item:hover {
    background-color: #fbd4d7;
}

.nav .item .content {
    background-color: whitesmoke;
    padding: 3vw;
    position: absolute;
    width: 35vw;
    margin: 2vw;
    margin-left: -2vw;
    display: none;
    font-size: 18px;
    z-index: 1;
    list-style: circle;
}

.nav .item:hover .content {
    display: block;
}

.nav .item:hover .content .a1 {
    text-decoration: none;
    color: black;
}

.nav .item .content .a1:hover {
    cursor: pointer;
    color: #FFB1B8;
}

.content.question {
    right: -1.8vw;
    text-align: center;
}

.content.search {
    right: -2vw;
    text-align: center;
}

.keyword_btn {
    font-size: 1.5vw;
    height: 3vw;
}

.instruction {
    text-align: left;
}

.a2 {
    text-decoration: none;
    color: black;
    line-height: 130%;
}

.a2:hover {
    color: #FFB1B8;
    cursor: pointer;
}

h4 {
    font-size: 16px;
}

.rating_search {
    letter-spacing: 80%;
}

.fa-question::before {
    font-weight: bold;
}

.fa-star::before {
    color: rgb(255, 187, 0);
}

.random_button {
    width: 90px;
    height: 40px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #FFB1B8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.random_button:hover {
    background-color: #e9858d;
}